@mixin hover-underline($type: fade, $dir: null, $weight: 2px, $color: #ffffff) {
  @if $dir == null {
    @if $type == fade {
      $dir: "top";
    } @else if $type == slide {
      $dir: "center";
    }
  }

  position: relative;
  display: inline-block;
  text-decoration: none;
  &::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: $weight;
    background: $color;
    @if $type == fade {
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;
      @if $dir == bottom {
        bottom: $weight * -4;
      } @else {
        bottom: $weight;
      }
    } @else if $type == slide {
      bottom: $weight * -2;
      transform: scale(0, 1);
      transition: transform 0.3s;
      @if $dir == left-right or $dir == right-in-left {
        transform-origin: left top;
      } @else if $dir == right-left or $dir == left-in-right {
        transform-origin: right top;
      } @else {
        transform-origin: center top;
      }
    }
  }
  &:hover::after {
    @if $type == fade {
      bottom: $weight * -2;
      opacity: 1;
      visibility: visible;
    } @else if $type == slide {
      @if $dir == left-in-right {
        transform-origin: left top;
      } @else if $dir == right-in-left {
        transform-origin: right top;
      }
      transform: scale(1, 1);
    }
  }
}
.swiper-cus {
  height: 0px !important;
}

header {

  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgb(77, 77, 77);
  position: sticky;
  top: 0;
  z-index: 60;
  // background-color: #02020200;
  background-color: transparent;
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin-left: 15px;
    h3 {
      font-size: 18px;
      font-weight: 700;
      color: aliceblue;
      line-height: 28px;
    }
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 0.4%;
      height: 50px;
      
      p {
        color: #f2f2f2;
        line-height: 12px;
      }
      div.dropdown-trigger{
        color: #f2f2f2;
        line-height: 12px;
        
        }
      svg {
        font-size: 40px;
        margin: 0 0px;
        fill: aliceblue;
        padding: 10px;
        cursor: pointer;
        border-radius: 15px;
        &:hover {
          background-color: rgba($color: #9e9e9e, $alpha: 0.5);
          
        }
      }
      .burger {
        display: none;
      }
    }
    &:hover {
      background-color: rgba(2, 2, 2, 1);
    }
  }
}

        .dropdown-container {
          display: flex;
          background-color: rgba(2, 2, 2, 1);
          width: 100%; /* Full screen width */
          height: 55%; /* Full screen height if needed */
          // border: 1px solid #f2f2f2;
          // box-sizing: border-box; 
        }
        .header-links {
          font-weight: 400 !important;
          font-size: 12px;
          display: block;
          line-height: 24px;
          text-decoration: none;
          color: hsl(0deg 0% 96% / 80%);
          position: relative;
          max-width: fit-content;
          padding-bottom: 5px;
          &:hover {
            cursor: pointer;
          }
          /* Ensure positioning context for ::after */
        }
        
        .header-links::after {
          content: "";
          /* Creates an empty pseudo-element */
          position: absolute;
          left: 0;
          bottom: 0;
          /* Position the line at the bottom of the <a> tag */
          width: 0;
          /* Initial width is 0, so it's hidden */
          height: 2px;
          /* Thickness of the underline */
          background-color: white;
          /* Color of the underline */
          transition: width 0.3s ease;
          /* Animation duration and easing */
        } 
        .header-links:hover::after {
          color: white;
          margin-top: 20px;
          width: 100%;
        }  
        .left, .right {
          display: flex;
          flex: 1; /* Each child covers equal space */
        }
        
        .left {
          background-color: rgba(2, 2, 2, 1);
          .grid {
            font-weight: 200;
            display: flex;
            width: 100%;
            height: 100%;
            padding: 30px 30px 30px 55px;
            .row {
              display: flex;
              flex-grow: inherit;
              flex: 1;
              row-gap: 15px;
              flex-direction: column;
              p {
                line-height: 12px;
                color: #f2f2f2c5;                
              }
              p.first {
                padding-bottom: 5px;
                color: #f2f2f2;                
              }
              // p:hover {
              //   cursor: pointer;
              //   color: #f2f2f2;   
              //   transform: translateX(5px);      
              //   transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

              // }
            }
          }
        }
        
        .right {
          background-color: rgba(2, 2, 2, 1);
          .image-container {
            display: flex;
            justify-content: space-between; /* Space between images */
            height: 100%;
            width: 33%;
            img {
              width: 100%;
              height: auto;
              // aspect-ratio: 2 / 1;
              border: 1px solid #000; /* Border around images */
              box-sizing: border-box; /* Ensure border is included in width/height */
            }
          }
        }
        
.preheader {
  width: 100%;
  padding: 10px 0 5px 0;
  display: flex;
  justify-content: space-between;

  > div {
    margin: 0 1% 0 0;
    color: #f5f5f5;
    display: flex;
    :link {
      padding: 0 5px;
      font-weight: 500;
      font-size: 12px;
    }
  }
  p {
    // padding-left: 5%;
    font-size: 10px;
    font-weight: 700;
  }
}
.example05 a span {
  @include hover-underline("slide", "left-in-right");
}
.cart {
  position: relative;
}
.p {
  position: absolute;
  bottom: 16px;
  right: 4%;
  background-color: rgb(18, 196, 18);
  padding: 2px 4px;
  font-size: 8px;
  border-radius: 10px;
}

.img-container {
  width: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.mySwipe4 {
  width: 50%;
}

@media screen and (max-width: 1100px) {
  .preheader a {
    display: none;
  }
  .mySwiper {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  .burger {
    font-size: 80px;
    display: block !important;
    padding: 7px !important;
  }
  .p {
    right: 19%;
  }
  .example05 a {
    display: none;
  }
}
@media (max-width: 420px) {
  .example05 {
    display: none!important;
  }
}